<template name="visitorList">
  <table class="bordered striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Program</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Since</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each visitors}}
        <tr>
          <td>{{info.first_name}} {{info.last_name}}</td>
          <td>{{program}}</td>
          <td>{{reason}}</td>
          <td>{{status}}</td>
          <td>{{since}}</td>
          <td><a id="help-next" class="btn">Help Next</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
