<template name="employee">
  <div class="section" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col s10">
          <h1 class="header">Employee Dashboard</h1>
        </div>
        <div class="col s2">
          {{> loginButtons }}
        </div>
      </div>
    </div>
  </div>
  {{#if currentUser}}
    <div class="container" id="employee">
      <div class="row">
        <h4>Waiting List</h4>
        {{> visitorList}}
      </div>
      <div class="row">
        <h4>Currently Helping</h4>
        {{> helpingList}}
      </div>
    </div>
  {{/if}}
</template>
