<template name="getStarted">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Welcome to the Indiana FSSA!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s6 offset-s3">
        <div class="row">
          <div class="card-panel green lighten-4 clickable">Medicaid</div>
          <div class="card-panel light-green lighten-4 clickable">SNAP</div>
          <div class="card-panel lime lighten-4 clickable">TANF</div>
        </div>
        <p>You have chosen {{choice}}!</p>
      </div>
    </div>
  </div>
</template>
