<template name="reason">
  {{> nav}}
  <div class="container" id="reasons">
    <div class="row">
      <a class="reason-button col s12 clickable" href="/contactInfo">Applying for Services</a>
      <a class="reason-button col s12 clickable" href="/contactInfo">Questions about Services</a>
      <a class="reason-button col s12 clickable" href="/contactInfo">Interviewing</a>
      <a class="reason-button col s12 clickable" href="/contactInfo">Submitting Documents</a>
      <a class="reason-button col s12 clickable" href="/contactInfo">Not Sure</a>
    </div>
  </div>
</template>
